<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SdpServiceSoap11" />
            </basicHttpBinding>
            <wsHttpBinding>
              <binding name="wsMessage" >
                <security mode="Message" >            
                  <message clientCredentialType="UserName" />
                </security>
              </binding> 
        </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://195.182.143.219:8484/SDPServer-1.0-SNAPSHOT/SDPendpoints"
                binding="wsHttpBinding" bindingConfiguration="" contract="SDPService.SdpService"
                name="SdpServiceSoap11" />
        </client>
    </system.serviceModel>
</configuration>
